/* .detials{
 margin-top: 100px;
} */

/* .container-fluid.h-custom {
    margin-top: 0px; 
} */

/* .img-container {
    width: 50%; 
    float: left; 
    position: relative; 
    object-fit: cover; 
} */
/* 
.img-container img {
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    position: absolute; 
    top: 0; 
    left: 0; 
    border: rebeccapurple;
} */
.img-fluid{
    width: 10000px;
    object-fit: cover;


}
